version: "3.8"
services:
  nextjs:
    build:
      context: .
      args:
        - NEXT_PUBLIC_WORDPRESS_GRAPHQL_URL=https://admin.ecosmartgroup.vn/graphql
        - NEXT_PUBLIC_SITE_URL=https://ecosmartgroup.vn
    container_name: ecosmart-nextjs
    ports:
      - "3001:3001"
    restart: unless-stopped
